<div class="tag-list">
  <a href="#collapse-1" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-1">1 - Mov. Armónico Simple</a>
  <div class="collapse submenu" id="collapse-1">
    <a class="disabled">Próximamente</a>
  </div>

  <a href="#collapse-3" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-3">3 - Oscilaciones Amortiguadas</a>
  <div class="collapse submenu" id="collapse-3">
    <a class="disabled">Próximamente</a>
  </div>

  <a href="#collapse-11" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-11">11 - Ley de Snell</a>
  <div class="collapse submenu" id="collapse-11">
    <a href="/ejemplos/ley-de-snell.html">Ejemplo de Ley de Snell</a>
    <a href="/ejemplos/11-6-cubo.html">Ej. 11.6 - Cubo</a>
    <a href="/ejemplos/11-7-nivel-liquido.html">Ej. 11.7 - Nivel de líquido</a>
  </div>

  <a href="#collapse-13" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-13">13 - Lentes Delgadas</a>
  <div class="collapse submenu" id="collapse-13">
    <a href="/ejemplos/lentes-focos.html">Focos</a>
  </div>

</div>
